<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="runCount" value="0"/>
    <add key="initialscopeaddress" value="null"/>
    <add key ="initialscopebackupaddress" value="null"/>
    <add key="initialstandalonedhcpaddress" value="null"/>
    <add key="currentscopeaddress" value="null"/>
    <add key="currentscopeaddressbackup" value="null"/>
    <add key="currentdhcpaddress" value="null"/>
    <add key="ssid" value="null"/>
    <add key="password" value="null"/>
    <add key ="activedatanetwork" value="null"/>
    <add key="activehostnetwork" value="null"/>
    <add key="backColor" value="0 0 0"/>
    <add key="foreColor" value="255 255 255"/>
  </appSettings>
</configuration>
